@font-face {
  font-family: 'comic-neue';  
  src: url('fonts/comic-neue.bold.ttf') format('truetype');
}


div{
    font-family: Indie Flower;
}
.logo-text {
    font-family: 'Indie Flower', cursive;
    font-size: 1.8rem;
    font-weight: bold;
}
a{
  text-decoration: none;
  color: inherit;
}
.blue{
  color: #61D4D8;
}

body {
      margin: 0;
      padding: 0;
      font-family: sans-serif;
      height: 100vh;
      overflow: hidden;
      background-color: #ffffff;
      color: white;
    }
    .content {
      position: relative;
      z-index: 1;    
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100%;
    }
    .floating-memories-container {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      pointer-events: none;
      z-index: -1;
      overflow: hidden;
    }

nav{
  padding: 0 6vw;
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  background-color: #ffffff;
   box-shadow: 0 2px 4px rgba(0, 0, 0, 0.175);
}
nav ul {
  display: flex;
  gap: 2vw;
}
nav ul  li{
  font-family: 'comic-neue', sans-serif;
  font-weight: 100;
  font-size: 1.1vw;
  list-style: none;
}
nav ul  li:hover{
  color: #61D4D8;
  transition: 0.4s;
}

.nav-l{
  align-items: center;
  justify-content: center;
  display: flex;
  gap: 1vw;
}
.nav-l .logo-img{
  height: 4.2vw;
}
.nav-l .logo-text{
  font-size: 2.4vw;
}